<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="register-form">

  <!-- Email -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
      Email is required.
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
      Enter a valid email.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Send Reset Link
  </button>

  <div class="login-link">
    Remember your password? <a routerLink="/features/login">Login here</a>
  </div>

</form>

<!-- Popup message/loading box -->
<div class="message-box" *ngIf="isLoading || message">
  <div class="backdrop"></div>
  <div class="box-inner" [class.error]="isError" [class.success]="!isError && !isLoading">
    <button type="button" class="close-btn" (click)="message=''; isLoading=false; isError=false">×</button>
    <div class="row">
      <div class="spinner" *ngIf="isLoading"></div>
      <div class="text" *ngIf="!isLoading">
        {{ message }}
      </div>
      <div class="text" *ngIf="isLoading">
        Processing, please wait...
      </div>
    </div>
  </div>
</div>

